body {
  font-family: "Heebo", sans-serif;
}

a,
button,
.btn-social {
  padding: 10px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-color: #ff6a00;
  }
}

a {
  &:hover {
    background: #000000;
    color: #ffffff;
  }
}

.btn-social {
  background: transparent;
  border: none;
  display: block;
  transition: background 2s ease;

  &:hover {
    background: #000;
  }
}

.logoGrey {
  fill: #ccc;
  stroke: #999;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
.logoPink {
  fill: #fc00a3;
}

svg {
  opacity: 0;
  width: 180px;
}
