body {
  font-family: 'Heebo', sans-serif;
}

a,
button {
  padding: 10px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-color: #ff6a00;
  }
}

a {
  &:hover {
    background: #000000;
    color: #ffffff;
  }
}

.btn-social {
  background: transparent;
  border: none;
  display: block;
  transition: background 2s ease;

  &:hover {
    background: -webkit-linear-gradient(#4568dc, #b06ab3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.logoGrey {
  fill: #ccc;
  stroke: #999;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
.logoPink {
  fill: #fc00a3;
}

svg {
  width: 180px;
}
